section.section-item(ng-controller="itemController")
	.container
		.item
			h3(ng-click="testFuncanother()").item__title Name: {{item.Title}}
			h5.item__type Type {{item.Type}}
			h5.item__year Year: {{item.Year}}
			.item__rating
				|rating here
			.reviews
				h3 Reviews
				.review(ng-repeat="review in reviews")
					p.review__text Text: {{review.text}}
					.review__rating Rating: {{review.rating}}
			form.review-form
				h3.review-form__title Leave your testimonial
				textarea(type="text", ng-model="review").review-form__input.form-control
				input(type="submit", value="submit").btn.btn-success
