// Footer block
footer.footer
	

// *** Scripts ***
//- // Bootstrap
//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
//Angular
script(src="https://code.angularjs.org/1.2.16/angular.min.js")
	//Angular-route
script(src="https://code.angularjs.org/1.2.16/angular-route.min.js")